
body{
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:white;
    
    background-image: url(https://i.redd.it/jkwvasp0pgz31.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: white;
    font-family: monospace;
    
}

canvas{
    border: 10px solid black;
}